@font-face {
  font-family: 'Iron-Fist';
  src:  url('fonts/Iron-Fist.eot?huued8');
  src:  url('fonts/Iron-Fist.eot?huued8#iefix') format('embedded-opentype'),
    url('fonts/Iron-Fist.ttf?huued8') format('truetype'),
    url('fonts/Iron-Fist.woff?huued8') format('woff'),
    url('fonts/Iron-Fist.svg?huued8#Iron-Fist') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Iron-Fist' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Numberred-Buttons:before {
  content: "\37";
}
.icon-NumberredButtons:before {
  content: "\39";
}
.icon-NumberredButtons1:before {
  content: "\31";
}
.icon-NumberredButtons2:before {
  content: "\33";
}
.icon-NumberredButtons3:before {
  content: "\38";
}
.icon-NumberredButtons4:before {
  content: "\36";
}
.icon-NumberredButtons5:before {
  content: "\32";
}
.icon-NumberredButtons6:before {
  content: "\34";
}
.icon-NumberredButtons7:before {
  content: "\2e";
}
.icon-NumberredButtons8:before {
  content: "\3b";
}
.icon-NumberredButtons9:before {
  content: "\27";
}
.icon-NumberredButtons10:before {
  content: "\2f";
}
.icon-NumberredButtons11:before {
  content: "\7c";
}
.icon-Numberred-Buttons1:before {
  content: "\2d";
}
.icon-NumberredButtons12:before {
  content: "\4b";
}
.icon-NumberredButtons13:before {
  content: "\4f";
}
.icon-NumberredButtons14:before {
  content: "\50";
}
.icon-NumberredButtons15:before {
  content: "\4c";
}
.icon-NumberredButtons16:before {
  content: "\4d";
}
.icon-NumberredButtons17:before {
  content: "\4e";
}
.icon-db:before {
  content: "\7a";
}
.icon-ub:before {
  content: "\71";
}
.icon-uf:before {
  content: "\65";
}
.icon-neutral:before {
  content: "\35";
}
.icon-arrowR:before {
  content: "\3e";
}
.icon-DB:before {
  content: "\5a";
}
.icon-UB:before {
  content: "\51";
}
.icon-UF:before {
  content: "\45";
}
.icon-DF:before {
  content: "\58";
}
.icon-df:before {
  content: "\78";
}
.icon-B:before {
  content: "\41";
}
.icon-b:before {
  content: "\61";
}
.icon-U:before {
  content: "\57";
}
.icon-u:before {
  content: "\77";
}
.icon-R:before {
  content: "\44";
}
.icon-r:before {
  content: "\64";
}
.icon-D:before {
  content: "\53";
}
.icon-d:before {
  content: "\73";
}
.icon-BracketLModified:before {
  content: "\5b";
}
.icon-BracketRModified:before {
  content: "\5d";
}
